fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]

torch
torchvision
torchaudio

transformers
datasets
accelerate

librosa
numpy
pandas

opencv-python==4.10.0.84
mediapipe

mlflow
tensorboard

python-multipart