fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]

torch
torchvision
torchaudio

transformers
datasets
accelerate

librosa
numpy
pandas

opencv-python
mediapipe

mlflow
tensorboard

python-multipart